<div class="flex-center" (pointerup)="onPointerUp($event, 'outter')">
	<div id="board-container"
		#boardContainer
		(pointermove)="onPointerMove($event)"
		(pointerdown)="onPointerDown($event)"
		(pointerup)="onPointerUp($event, 'boardContainer')"
		(pointerleave)="onPointerLeave($event)"
		(pointerenter)="onPointerEnter($event)"
		[ngClass]="{ 'disable-input': game.isStopInput() }"
	>
		<div #cursor id="cursor" class="custom-cursor"></div>

		<div class="planks-slots-horizontal" [ngClass]="{ 'disable-input': game.curPlayerIdx() !== 1 }">
			@for(p of game.players[1].plankSlots.slots; track $index) {
				<div [id]="`slot_${$index}`" [attr.data-player-idx]="1" [ngClass]="{ 'empty': !p }" class="plank"></div>
			}
		</div>

		<div class="flex-row">
			@if(game.players.length >= 3) {
				<div class="planks-slots-vertical" [ngClass]="{ 'disable-input': game.curPlayerIdx() !== 2 }">
					@for(p of game.players[2].plankSlots.slots; track $index) {
						<div [id]="`slot_${$index}`" [attr.data-player-idx]="2" [ngClass]="{ 'empty': !p }" class="plank"></div>
					}
				</div>
			}
			<div id="board">
				@for(row of game.board.board; track $index; let rIdx = $index) {
					<div class="row">
						@if(rIdx % 2 !== 0) {
							@for(col of row; track $index; let cIdx = $index) {
								@if(cIdx % 2 === 0) {
									<div
										class="plank-cell horizontal"
										[ngClass]="{
											'plank-placed': col === Entity.Plank
										}"
										[id]="toId(rIdx, cIdx)"
									><div class="test-abs">{{ rIdx + "-" + cIdx }}</div></div>
								} @else {
									<div
										class="plank-cell mid"
										[ngClass]="{
											'plank-placed': col === Entity.Plank
										}"
										[id]="toId(rIdx, cIdx)"
									><div class="test-abs">{{ rIdx + "-" + cIdx }}</div></div>
								}
							}
						} @else {
							@for(col of row; track $index; let cIdx = $index) {
								@if(cIdx % 2 === 0) {
									<div
										class="move-cell"
										[id]="toId(rIdx, cIdx)"
										[ngClass]="{
											'possible-move': possibleMoves().has(toId(rIdx, cIdx))
										}"
									>
										@if(toId(rIdx, cIdx) in playerPosHash()) {
											<div
												class="player"
												[id]="toId(rIdx, cIdx)"
												[ngStyle]="{
													backgroundColor: playerPosHash()[toId(rIdx, cIdx)].color,
												}"
												[ngClass]="{
													'disable-input':
														this.game.players[game.curPlayerIdx()].color !==
														playerPosHash()[toId(rIdx, cIdx)].color
												}"
											></div>
										}
										<div class="test-abs">{{ rIdx + "-" + cIdx }}</div>
									</div>
								} @else{
									<div
										class="plank-cell vertical"
										[ngClass]="{
											'plank-placed': col === Entity.Plank
										}"
										[id]="toId(rIdx, cIdx)"
									><div class="test-abs">{{ rIdx + "-" + cIdx }}</div></div>
								}
							}
						}
					</div>
				}
			</div>
			@if(game.players.length === 4) {
				<div class="planks-slots-vertical" [ngClass]="{ 'disable-input': game.curPlayerIdx() !== 3 }">
					@for(p of game.players[3].plankSlots.slots; track $index) {
						<div [id]="`slot_${$index}`" [attr.data-player-idx]="3" [ngClass]="{ 'empty': !p }" class="plank"></div>
					}
				</div>
			}
		</div>

		<div class="planks-slots-horizontal" [ngClass]="{ 'disable-input': game.curPlayerIdx() !== 0 }">
			@for(p of game.players[0].plankSlots.slots; track $index) {
				<div [id]="`slot_${$index}`" [attr.data-player-idx]="0" [ngClass]="{ 'empty': !p }" class="plank"></div>
			}
		</div>
	</div>
</div>
